crewai==1.6.1
dotenv==0.9.9
fastapi==0.118.3
google-adk==1.19.0
gradio==6.0.2
httpx==0.28.1
jwcrypto==1.5.6
langchain==1.1.0
langchain-ollama==1.0.0
langgraph==1.0.4
litellm==1.80.5
pydantic==2.12.3
PyJWT==2.10.1
sse-starlette==3.0.3
starlette==0.48.0
typing-extensions==4.15.0
